// header started
#one {
    width: 1440px;
    height: 124px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;

    .search {
        position: relative;
    }

    p {
        color: #3563E9;

        font-size: 32px;
    }

    .fa-sliders {
        color: #C3D4E9;
        position: absolute;
        top: 12px;
        right: 30px;
    }

    .fa-magnifying-glass {
        color: #C3D4E9;
        top: 12px;
        left: 20px;
        position: absolute;

    }

    input {
        width: 492px;
        height: 44px;
        border-radius: 70px;
        border: 1px solid #C3D4E9;
        padding-left: 40px;
    }

    .nlink {
        display: flex;
        align-items: center;

        i {
            padding-right: 20px;
            color: #596780;

        }
    }

}

@media screen and (max-width: 768px) and (min-width:468px){
    #one {
        width: 700px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: red;
    
        .search {
            position: relative;
        }
    
        p {
            color: #3563E9;
    
            font-size: 25px;
        }
    
        .fa-sliders {
            color: #C3D4E9;
            position: absolute;
            top: 12px;
            right: 30px;
        }
    
        .fa-magnifying-glass {
            color: #C3D4E9;
            top: 12px;
            left: 20px;
            position: absolute;
    
        }
    
        input {
            width: 292px;
            height: 35px;
            border-radius: 70px;
            border: 1px solid #C3D4E9;
            padding-left: 10px;
        }
    
        .nlink {
            display: flex;
            align-items: center;
    
            i {
                padding-right: 20px;
                color: #596780;
    
            }
        }
    
    }
}
// header end
.one{
    width: 1440px;
    display: flex;
    align-items: center;
    
    div{
        background-color: #3563E9;
        width: 300px;
        height: 320px;
    }
}