*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    background-color:#C3D4E9;
}
nav{
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: #FFFFFF;
}