
header{
   background-color: #007878;

}
//  nav start
 nav {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    height: 48px;
    background-color: red;

    img {
       width: 25px;
       height: 25px;
    }

    a {
       text-decoration: none;
       color: #FFFFFF;
       padding-left: 20px;
       font-size: 16PX;
    }
 }
// nav end

// snobella started
 #sno {
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 0px;
    h1{
      color:  #000000;
    }
    input{
      width: 500px;
      height: 40px;
      border-radius: 4px;
      border: none;
    }

 #icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-left: 20px;
    color:#2E2E2E;
   
    #inp i{
      position:absolute ;
      right: 20px;
      padding-top: 10px;
    }
    
 }

 #icon>div {
   display: flex;
   flex-direction: row;
   position: relative;
 }
#link{
 gap: 20px;
  
}
}
// snobella end