.baletTruppa {
    width: 100%;
    padding: 20px 0;
    background-image: url('../img/balerin.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Arima', cursive;
    font-style: italic;
    color: aliceblue;

    h1 {
        color: #D1B24A;
        font-size: 60px;
        font-family: 'Kaushan Script', cursive;
        padding: 2% 0;
    }

    .img2 {
        opacity: 0.8;
        margin: 5px;
        border-radius: 6px;
        width: 40%;
        height: 400px;
        float: left;
        background-image: url('../img/operybaleta.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .img1 {
        opacity: 0.8;
        margin: 5px;
        border-radius: 6px;
        float: right;
        width: 40%;
        height: 400px;
        background-image: url('../img/baletopera4.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.img3 {
    float: right;
    width: 100%;
    height: 600px !important;
    background-image: url('../img/operabalet3.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 768px) {

    .baletTruppa {
        width: 100%;
        padding: 20px 0;
        background-image: url('../img/balerin.jpg');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-family: 'Arima', cursive;
        font-style: italic;
        color: aliceblue;

        h1 {
            color: #D1B24A;
            font-size: 60px;
            font-family: 'Kaushan Script', cursive;
            padding: 2% 0;
        }

        .img2 {
            opacity: 0.8;
            padding: 5% 0;
            border-radius: 6px;
            width: 70%;
            height: 400px;
            float: left;
            background-image: url('../img/operybaleta.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .img1 {
            opacity: 0.8;
            padding: 5% 0;
            border-radius: 6px;
            float: right;
            width: 70%;
            height: 400px;
            background-image: url('../img/baletopera4.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    .img3 {
        padding: 5% 0;
        float: right;
        width: 100%;
        height: 600px;
        background-image: url('../img/operabalet3.jpg');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media only screen and (max-width: 766px) and (min-width: 378px){

    .baletTruppa {
        width: 100%;
        padding: 20px 0;
        background-image: url('../img/balerin.jpg');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-family: 'Arima', cursive;
        font-style: italic;
        color: aliceblue;

        h1 {
            color: #D1B24A;
            font-size: 60px;
            font-family: 'Kaushan Script', cursive;
            padding: 2% 0;
        }

        .img2 {
            opacity: 0.8;
            padding: 5% 0;
            border-radius: 6px;
            width: 70%;
            height: 350px;
            float: left;
            background-image: url('../img/operybaleta.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .img1 {
            opacity: 0.8;
            padding: 5% 0;
            border-radius: 6px;
            float: right;
            width: 70%;
            height: 350px;
            background-image: url('../img/baletopera4.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    .img3 {
        padding: 5% 0;
        float: right;
        width: 100%;
        height: 600px;
        background-image: url('../img/operabalet3.jpg');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}