.loginUser{
    background-color: #e9e9e9;

.loginForms{
   
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #e9e9e9;
.formContent{
    background-image: url("../img/theatre4.jpg");
    box-shadow: rgba(0, 0, 0, 10.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 5.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 4.09) 0px 42px 60px;
    background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
    height: 540px;
    width:40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1%;
    border:1px solid #D1B24A;
    border-radius: 8px;
    input,select,option{
        width: 60%;
        height: 45px;
        padding-left: 5%;
        font-size: 18px;
        font-style: italic;
        border-radius: 6px;
        border: none;
        transition: 0.7s;
    } input:hover, select:hover, option:hover {
        border: 4px solid #D1B24A;
      }
      input:focus, select:focus, option:focus {
        outline: none; /* Tıklama odak noktası border'ını kaldırma */
      }
    button{
        width: 20%;
        height: 45px;
        color: antiquewhite;
        background-color: #441215;;
        font-size: 18px;
        font-style: italic;

    }button:hover{
        background-color: #D1B24A;;
    }
    h1,a{
        font-size: 24px;
        font-weight: 400;
        color: #fff;
        font-style: italic;
        transform: 1.7s;
    }a:hover{
        color: #D1B24A;
    }
}
}
}