nav {
  width: 100%;
  background-color: #441215;
  font-family: 'Lobster', cursive;

  #icon {
    font-size: 30px;
    color: #D1B24A;
    cursor: pointer;
    display: none;

  }

  .list {
    overflow: hidden;
    height: 0;
  }

  .homeNavContent {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    background-color: #441215;
    letter-spacing: 2.5px;

    #navContentLogoImg {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3%;

      h1 {
        color: #D1B24A;
        font-size: 50px;
        font-style: italic;
        font-weight: 300;

      }
    }

    .navContentMenu {
      display: flex;
      gap: 5%;
      font-size: 18px;

      li,
      a {
        color: #D1B24A;
      }

      .theatreList {
        position: relative;

        .tlist {
          line-height: 27px;
          letter-spacing: 0px !important;
          padding: 60px 30px;
          position: absolute;
          top: 80%;
          width: 210px;
          height: 150px;
          transition-delay: 2s;
          background-color: #441215;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

          a {
            padding-bottom: 10px;
          }

          display: none;
        }
      }

      .theatreList:hover {
        .tlist {
          // background-color: black;
          display: block;

        }

      }

      .kollektivList {
        position: relative;

        .kList {
          line-height: 27px;
          letter-spacing: 0px !important;
          position: absolute;
          padding: 30px 30px;
          top: 95%;
          width: 180px;
          height: 220px;
          transition-delay: 2s;
          background-color: #441215;
          display: none;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

          a {
            padding-bottom: 10px;
          }
        }
      }

      .kollektivList:hover {
        .kList {
          display: block;
        }
      }
    }
  }

  .navContentIcons {
    i {
      color: #D1B24A;
      font-size: 25px;
      padding-left: 10px;
    }
  }
}

// responsive navbar tablet
@media only screen and (max-width: 768px) {
  nav {
    width: 100%;
    background-color: #441215;
    font-family: 'Lobster', cursive;
    position: relative;

    .theatreList {
      position: relative;

      .tlist {
        letter-spacing: 0px !important;
        padding: 20px 30px;
        position: absolute;
        bottom: 10px;
        left: 17%;
        width: 200px;
        height: 100px;
        transition-delay: 3s;
        background-color: #441215;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 2px;

        a {
          padding-bottom: 16px;
        }

        display: none;
      }
    }

    .theatreList:hover {
      .tlist {
        // background-color: black;
        display: block;

      }

    }

    .kollektivList {
      position: relative;

      .kList {
        letter-spacing: 0.7px !important;
        position: absolute;
        padding: 60px 30px;
        bottom: 10px;
        left: 18%;
        width: 200px;
        height: 200px;
        transition-delay: 2s;
        background-color: #441215;
        display: none;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        li {
          padding-bottom: 10px;
        }
      }
    }

    .kollektivList:hover {
      .kList {
        display: block;
      }
    }

    #icon {
      display: block !important;
    }

    .listOpen {
      position: absolute;
      letter-spacing: 1px;
      display: block;
      display: flex;
      flex-direction: column;
      padding: 3%;
      gap: 6%;
      background-color: #441215;
      width: 100%;
      height: 300px;
      transition: 2s;

      a {
        color: #D1B24A;
      }

      i {
        font-size: 20px;
        padding-right: 25px;
        color: #fff;
      }
    }

    .homeNavContent {
      display: flex;
      height: 100px;
      align-items: center;
      justify-content: space-between;
      background-color: #441215;
      letter-spacing: 2.5px;

      #navContentLogoImg {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3%;

        h1 {
          color: #fff;
          font-size: 30px;
        }
      }

      .navContentMenu {
        display: none !important;
        display: flex;
        gap: 5%;
        font-size: 14px;

        a {
          color: #fff;
        }

        .theatreList {
          position: relative;

          .tlist {
            letter-spacing: 0px !important;
            padding: 60px 30px;
            position: absolute;
            top: 80%;
            width: 210px;
            height: 150px;
            transition-delay: 2s;
            background-color: #441215;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

            li {
              padding-bottom: 10px;
            }

            display: none;
          }
        }

        .theatreList:hover {
          .tlist {
            // background-color: black;
            display: block;

          }

        }

        .kollektivList {
          position: relative;

          .kList {
            letter-spacing: 0px !important;
            position: absolute;
            padding: 60px 30px;
            top: 90%;
            width: 200px;
            height: 200px;
            transition-delay: 2s;
            background-color: #441215;
            display: none;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

            li {
              padding-bottom: 10px;
            }
          }
        }

        .kollektivList:hover {
          .kList {
            display: block;
          }
        }
      }
    }

    .navContentIcons {
      display: none;

      i {
        color: #fff;
        font-size: 18px;
        padding-left: 10px;
      }
    }
  }
}
// responsive navbar mobile
@media only screen and (max-width: 767px) and (min-width: 378px){
  nav {
    width: 100%;
    background-color: #441215;
    font-family: 'Lobster', cursive;
    position: relative;

    .theatreList {
      position: relative;

      .tlist {
        letter-spacing: 0px !important;
        padding: 20px 30px;
        position: absolute;
        bottom: 10px;
        left: 17%;
        width: 200px;
        height: 100px;
        transition-delay: 3s;
        background-color: #441215;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 2px;

        a {
          padding-bottom: 16px;
        }

        display: none;
      }
    }

    .theatreList:hover {
      .tlist {
        // background-color: black;
        display: block;

      }

    }

    .kollektivList {
      position: relative;

      .kList {
        letter-spacing: 0.7px !important;
        position: absolute;
        padding: 60px 30px;
        bottom: 10px;
        left: 18%;
        width: 200px;
        height: 200px;
        transition-delay: 2s;
        background-color: #441215;
        display: none;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        li {
          padding-bottom: 10px;
        }
      }
    }

    .kollektivList:hover {
      .kList {
        display: block;
      }
    }

    #icon {
      display: block !important;
    }

    .listOpen {
      position: absolute;
      letter-spacing: 1px;
      display: block;
      display: flex;
      flex-direction: column;
      padding: 3%;
      gap: 6%;
      background-color: #441215;
      width: 100%;
      height: 200px;
      transition: 2s;

      a {
        color: #D1B24A;
        font-size: 15px;
      }

      i {
        font-size: 15px;
        padding-right: 25px;
        color: #fff;
      }
    }

    .homeNavContent {
      display: flex;
      height: 100px;
      align-items: center;
      justify-content: space-between;
      background-color: #441215;
      letter-spacing: 2.5px;

      #navContentLogoImg {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3%;

        h1 {
          color: #D1B24A !important;
          font-size: 25px !important;
        }
      }

      .navContentMenu {
        display: none !important;
        display: flex;
        gap: 5%;
        font-size: 14px;

        a {
          color: #fff;
        }

        .theatreList {
          position: relative;

          .tlist {
            letter-spacing: 0px !important;
            padding: 60px 30px;
            position: absolute;
            top: 80%;
            width: 210px;
            height: 150px;
            transition-delay: 2s;
            background-color: #441215;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

            li {
              padding-bottom: 10px;
            }

            display: none;
          }
        }

        .theatreList:hover {
          .tlist {
            // background-color: black;
            display: block;

          }

        }

        .kollektivList {
          position: relative;

          .kList {
            letter-spacing: 0px !important;
            position: absolute;
            padding: 60px 30px;
            top: 90%;
            width: 200px;
            height: 200px;
            transition-delay: 2s;
            background-color: #441215;
            display: none;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

            li {
              padding-bottom: 10px;
            }
          }
        }

        .kollektivList:hover {
          .kList {
            display: block;
          }
        }
      }
    }

    .navContentIcons {
      display: none;

      i {
        color: #fff;
        font-size: 18px;
        padding-left: 10px;
      }
    }
  }
}
// parallax img 1 and 2 started
.sectionOneImg1 {
  width: 100%;
  height: 600px;
  background-image: url('../img/acquisti-e-prenotazioni.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sectionOneImg2 {
  width: 100%;
  height: 600px;
  background-image: url('../img/theatre2.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  h2 {
    color: whitesmoke !important;
    font-size: 60px;
    z-index: 2;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
  }
}

.sectionTreeImg1 {
  width: 100%;
  height: 600px;
  background-image: url('../img/Theatre3.jpg');


  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sectionTreeImg2 {
  width: 100%;
  height: 600px;
  // background-image: url('https://www.teatrosancarlo.it/files/TSC01.jpg');
  background-image: url('../img/theatre4.jpg');

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// parallax img 1 and 2 end

// slide started
.carouselContainer {
  width: 100%;
  height: 800px;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
  overflow: hidden;
}

.carouselImgs {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 800px;
  display: none;
  padding: 20px;
  text-align: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
  font-size: 70px;
  font-family: 'Kaushan Script', cursive;
  color: #fff;
  animation: slide 40s infinite;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 10%;
    border-radius: 6px;
    background-color: #fff;
    font-size: 16px;
    font-family: 'Kaushan Script', cursive;
    font-weight: 600;
    color: #441215;
    opacity: 0.7;
  }

  button:hover {
    background-color: #fff;
  }
}

.prev,
.next {
  position: absolute;
  cursor: pointer;
  top:50%;
}

.prev {
  left: 10px;

 
    font-size: 60px;
    color: #fff;
  
}

.next {
  right: 10px;

    font-size: 60px;
    color: #fff;
  
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-7%);
  }
}

.slide1 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide2 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide4 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// slide end
// sectionTwo started
.sectionTwo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5% 0;


  .btnFull {
    width: 200px;
    height: 60px;
    background-color: #441215;
    border-radius: 6px;
    color: #fff;
    font-size: 20px;
    letter-spacing: 1.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 0.5s, opacity 0.5s;
  }

  .btnFull:hover {
    background-color: #fff;
    color: #441215;
    border: 1px solid #441215;
    border-radius: 6px;
  }
}

.sectionTwoContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2%;

  .cardSize {
    font-family: 'Arima', cursive;
    font-style: italic;
    color: #212529;
    position: relative;
    width: 25%;
    height: 650px;
    display: flex;
    gap: 1%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
    border-radius: 6px;
    box-shadow: 0px -23px 25px 0px rgba(0, 0, 0, 0.17) inset, 0px -36px 30px 0px rgba(0, 0, 0, 0.15) inset, 0px -79px 40px 0px rgba(0, 0, 0, 0.1) inset, 0px 2px 1px rgba(0, 0, 0, 0.06), 0px 4px 2px rgba(0, 0, 0, 0.09), 0px 8px 4px rgba(0, 0, 0, 0.09), 0px 16px 8px rgba(0, 0, 0, 0.09);

    i {
      position: absolute;
      right: 10%;
      top: 3%;
      font-size: 25px;
      color: #fff;
    }

    .btnBasket {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 6px;
      color: #441215;
      margin-bottom: 5px;
      width: 100px;
      height: 40px;
      background-color: #fff;
      border: 1px solid #441215;
    }

    .btnBasket:hover {
      background-color: #441215;
      color: #fff;
    }

    .cardImgSize {
      width: 100%;  //hover ucun width 0% olmalidi
      height: 500px;
      background-position: content;
      background-repeat: no-repeat;
      background-size: cover;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }
  }
}
.sectionTreeVideoControl {
  #myVideo {
    width: 100%;
    height: 714px;
  }

  position: relative;

  #muteButton {
    position: absolute;
    bottom: 10px;
    z-index: 2;
    right: 5%;
    bottom: 5%;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    i {
      color: #441215;
      font-size: 40px;
    }
  }

}

// sectionTree end

// RESPONSIVE TABLET STARTED
@media only screen and (max-width: 768px) {
  .carouselImgs {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    animation: fade 2.0s;
    display: none;
    padding: 20px;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    font-size: 50px;
    color: #fff;

    a {
      width: 22%;
      height: 7%;
      border-radius: 6px;
      background-color: #fff;
      font-size: 13px;
      font-weight: 600;
      color: #441215;
      opacity: 0.7;
    }

    button:hover {
      background-color: #fff;
    }
  }

  // sectionTwo started
  .sectionTwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5% 0;

    .btnFull {
      width: 200px;
      height: 60px;
      background-color: #441215;
      border-radius: 6px;
      color: #fff;
      font-size: 20px;
      letter-spacing: 1.5px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .btnFull:hover {
      background-color: #fff;
      color: #441215;
      border: 1px solid #441215;
      border-radius: 6px;
    }
  }

  .sectionTwoContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2%;

    .cardSize {
      font-family: 'Arima', cursive;
      font-style: italic;
      color: #212529;
      position: relative;
      width: 60%;
      height: 770px;
      display: flex;
      gap: 1%;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2%;
      border-radius: 6px;
      box-shadow: 0px -23px 25px 0px rgba(0, 0, 0, 0.17) inset, 0px -36px 30px 0px rgba(0, 0, 0, 0.15) inset, 0px -79px 40px 0px rgba(0, 0, 0, 0.1) inset, 0px 2px 1px rgba(0, 0, 0, 0.06), 0px 4px 2px rgba(0, 0, 0, 0.09), 0px 8px 4px rgba(0, 0, 0, 0.09), 0px 16px 8px rgba(0, 0, 0, 0.09);

      i {
        position: absolute;
        right: 10%;
        top: 3%;
        font-size: 25px;
        color: #fff;
      }

      .btnWishList {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        color: #441215;
        margin-bottom: 5px;
        width: 100px;
        height: 40px;
        background-color: #fff;
        border: 1px solid #441215;
      }

      .btnWishList:hover {
        background-color: #441215;
        color: #fff;
      }

      .cardImgSize {
        width: 100%;
        height: 650px;
        background-position: content;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 15px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
      }
    }

  }

  .sectionTreeVideoControl {
    #myVideo {
      width: 100%;
      height: 279px;
    }

    position: relative;

    #muteButton {
      position: absolute;
      bottom: 10px;
      z-index: 2;
      right: 7%;
      bottom: 5%;
      width: 30px;
      height: 30px;
      border-radius: 50%;

      i {
        color: #441215;
        font-size: 20px;
      }
    }

  }
.sectionOneImg2{
  h2{
    font-size: 40px;
  }
}
  // sectionTwo end
}
@media only screen and (max-width: 767px) and (min-width: 378px){
  .sectionOneImg1 {
    width: 100%;
    height: 400px!important;
    background-image: url('../img/acquisti-e-prenotazioni.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .sectionOneImg2 {
    width: 100%;
    height: 400px;
    background-image: url('../img/theatre2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  
    h2 {
      color: #fff;
      font-size: 20px;
      z-index: 2;
      font-family: 'Dancing Script', cursive;
      font-weight: 400;
    }
  }
  
  .sectionTreeImg1 {
    width: 100%;
    height: 400px;
    background-image: url('../img/Theatre3.jpg');
  
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .sectionTreeImg2 {
    width: 100%;
    height: 400px;
    // background-image: url('https://www.teatrosancarlo.it/files/TSC01.jpg');
    background-image: url('../img/theatre4.jpg');
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  // parallax img 1 and 2 end
  
  // slide started
  .carouselContainer {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    position: relative;
    background-color: #fff;
    overflow: hidden;
  }
  
  .carouselImgs {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    display: none;
    padding: 20px;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    font-size: 70px;
    font-family: 'Kaushan Script', cursive;
    color: #fff;
    animation: slide 40s infinite;
  
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 10%;
      height: 10%;
      border-radius: 6px;
      background-color: #fff;
      font-size: 16px;
      font-family: 'Kaushan Script', cursive;
      font-weight: 600;
      color: #441215;
      opacity: 0.7;
    }
  
    button:hover {
      background-color: #fff;
    }
  }
  
  .prev,
  .next {
    position: absolute;
    cursor: pointer;
    top:50%;
  }
  
  .prev {
    left: 10px;
  
   
      font-size: 60px;
      color: #fff;
    
  }
  
  .next {
    right: 10px;
  
      font-size: 60px;
      color: #fff;
    
  }
  
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-7%);
    }
  }
  
  .slide1 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .slide2 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .slide3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .slide4 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  // slide end
  // sectionTwo started
  .sectionTwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5% 0;
  
  
    .btnFull {
      width: 160px;
      height: 40px;
      background-color: #441215;
      border-radius: 6px;
      color: #fff;
      font-size: 16px;
      letter-spacing: 1.5px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: width 0.5s, opacity 0.5s;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
    }
  
    .btnFull:hover {
      background-color: #fff;
      color: #441215;
      border: 1px solid #441215;
      border-radius: 6px;
    }
  }
  
  .sectionTwoContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
  
    .cardSize {
      font-family: 'Arima', cursive;
      font-style: italic;
      color: #212529;
      position: relative;
      font-size: 10px;
      width: 50%;
      height: 350px;
      display: flex;
      gap: 1%;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2%;
      border-radius: 6px;
      box-shadow: 0px -23px 25px 0px rgba(0, 0, 0, 0.17) inset, 0px -36px 30px 0px rgba(0, 0, 0, 0.15) inset, 0px -79px 40px 0px rgba(0, 0, 0, 0.1) inset, 0px 2px 1px rgba(0, 0, 0, 0.06), 0px 4px 2px rgba(0, 0, 0, 0.09), 0px 8px 4px rgba(0, 0, 0, 0.09), 0px 16px 8px rgba(0, 0, 0, 0.09);
  
      i {
        position: absolute;
        right: 10%;
        top: 3%;
        font-size: 25px;
        color: #fff;
      }
  
      .btnBasket {
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        color: #441215;
        margin-bottom: 5px;
        width: 100px;
        height: 40px;
        background-color: #fff;
        border: 1px solid #441215;
      }
  
      .btnBasket:hover {
        background-color: #441215;
        color: #fff;
      }
  
      .cardImgSize {
        width: 100%;  //hover ucun width 0% olmalidi
        height: 350px;
        background-position: content;
        background-repeat: no-repeat;
        background-size: cover;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
      }
    }
  }
  .sectionTreeVideoControl {
    #myVideo {
      width: 100%;
      height: 146px;
    }
  
    position: relative;
  
    #muteButton {
      position: absolute;
      bottom: 10px;
      z-index: 2;
      right: 13%;
      bottom: 13%;
      width: 25px;
      height: 25px;
      border-radius: 50%;
  
      i {
        color: #441215;
        font-size: 20px;
      }
    }

}
}