orchester.html main{
background-color: #441215;
}
.orchestraImg {
    width: 100%;
    height: 800px;
    background-image: url('../img/orchestra1.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.orchestraImg2 {
    width: 100%;
    height: 600px;
    background-image: url('../img/orchestra2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.orchestraImg3 {
    width: 100%;
    height: 600px;
    background-image: url('../img/orkestera3.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}
.orchestraText {
    height: 550px;
    padding: 3% 0;
    font-size: 22px;
    letter-spacing: 0.5px;
    color: #D1B24A;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        color:#D1B24A;
        font-size: 60px;
        font-family: 'Kaushan Script', cursive;
    }

}
@media only screen and (max-width: 768px){
    .orchestraText {
        height: 550px;
        padding: 3% 0;
        font-size: 16px;
        letter-spacing: 0.5px;
        color: #D1B24A;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            color:#D1B24A;
            font-size: 50px;
            font-family: 'Kaushan Script', cursive;
        }
    
    }
}
@media only screen and (max-width: 767px) and (min-width: 378px){
    .orchestraText {
        height: 850px;
        padding: 3% 0;
        font-size: 16px;
        letter-spacing: 0.5px;
        color: #D1B24A;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            color:#D1B24A;
            font-size: 50px;
            font-family: 'Kaushan Script', cursive;
        }
    
    }  
    .orchestraImg {
        width: 100%;
        height: 800px;
        background-image: url('../img/orchestra1.jpg');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .orchestraImg2 {
        width: 100%;
        height: 700px;
        background-image: url('../img/orchestra2.jpg');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    
    }
    .orchestraImg3 {
        width: 100%;
        height: 650px;
        background-image: url('../img/orkestera3.jpg');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.8;
    } 
}