.vokalImg {
    width: 100%;
    height: 900px;
    background-image: url('../img/vokal.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.vokalImg2 {
    width: 100%;
    height: 700px;
    background-image: url('../img/vokal2.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.vokalImg3 {
    width: 100%;
    height: 700px;
    background-image: url('../img/vokal4.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}


.vokalText {
    font-family: 'Arima', cursive;
    font-style: italic;
    color: #212529;
    height: 650px;
    padding: 1% 0;
    font-size: 22px;
    letter-spacing: 0.5px;
    color: #D1B24A;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        color: #D1B24A;
        font-size: 60px;
        font-family: 'Kaushan Script', cursive;
    }

}

@media only screen and (max-width: 768px) {
    .vokalText {
        height: 750px;
        padding: 3% 0;
        font-size: 16px;
        letter-spacing: 0.5px;
        color: #D1B24A;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            color: #D1B24A;
            font-size: 50px;
            font-family: 'Kaushan Script', cursive;
        }

    }
}
@media only screen and (max-width: 767px) and (min-width: 378px) {
    .vokalText {
        height: 1255px !important;
        padding: 3% 0;
        font-size: 16px;
        letter-spacing: 0.5px;
        color: #D1B24A;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            color: #D1B24A;
            font-size: 50px;
            font-family: 'Kaushan Script', cursive;
        }

    }
    .vokalImg {
        width: 100%;
        height: 600px;
        background-image: url('../img/vokal.jpeg');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .vokalImg2 {
        width: 100%;
        height: 800px;
        background-image: url('../img/vokal2.jpeg');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    
    }
    
    .vokalImg3 {
        width: auto;
        height: 700px;
        background-image: url('../img/vokal4.jpg');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.8;
    }
    
}