footer {
    width: 100%;
    background-color: #441215;
    height: 400px;
    display: flex;
    align-items: center;
    gap: 5%;

    .footerLogo {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;

        a h2 {
            color: #D1B24A;
            font-family: 'Lobster', cursive;
            font-weight: 300;
            letter-spacing: 1.5px;
            font-style: italic;
            font-size: 30px;
        }
    }

    .footerMenu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: 'Lobster', cursive;

        a {
            color: #D1B24A;
            letter-spacing: 1px;
            // font-size: 12px !important;
        }
    }

    .footerContent {
        background-color: #441215;
        display: flex;
        flex-direction: column;
        gap: 30px !important;

        .footerInfo {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .footerAddrres {
                font-size: 16px;
                letter-spacing: 1.8px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                font-family: 'Lobster', cursive;

                p {
                    color: #D1B24A;
                }
            }

            .footerSocial {
                display: flex;
                gap: 10px;
                align-items: center;
                justify-content: center;

                i {
                    color: #D1B24A;
                    font-size: 30px;
                }
            }

            .footerSocial:hover {
                color: #E4D8AD;
            }
        }
    }
}

// responsive
@media only screen and (max-width: 768px) {
    footer {
        background-color: #441215;
        height: 500px;
        display: flex;
        align-items: center;
        gap: 5%;

        .footerLogo {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            img{
                width: 50px;
            }

            h2 {
                color: #D1B24A;
                font-family: 'Tsukimi Rounded', sans-serif;
                font-weight: 700;
                font-style: italic;
                font-size: 40px;
            }
        }

        .footerMenu {
            display: flex;
            width: 60%;
            gap: 5px;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;

            a {
                color: #D1B24A;
                padding-top: 10px;

            }
        }

        .footerContent {
            background-color: #441215;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
            gap: 50px;

            .footerInfo {
                display: flex;
                gap: 20px;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .footerAddrres {
                    display: flex ;
                    flex-direction: row !important;
                    gap: 10px;
                    p {
                        color: #D1B24A;
                    }
                }

                .footerSocial {
                    display: flex;
                    gap: 30px;
                    align-items: center;
                    justify-content: center;

                    i {
                        color: #D1B24A;
                        font-size: 30px;
                    }
                }

                .footerSocial:hover {
                    color: #E4D8AD;
                }
            }
        }
    }
}
@media only screen and (max-width: 378px){
    footer {
        background-color: #441215;
        height: 300px;
        display: flex;
        align-items: center;
        gap: 10px;
        padding-bottom: 10px;

        .footerLogo {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            img{
                width: 50px;
            }

            h2 {
                color: #D1B24A;
                font-family: 'Tsukimi Rounded', sans-serif;
                font-weight: 700;
                font-style: italic;
                font-size: 20px;
            }
        }

        .footerMenu {
            display: flex;
            width: 80%;
            gap: 5px;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;

            a {
                color: #D1B24A;
                padding-top: 5px;
                font-size: 8px;

            }
        }

        .footerContent {
            background-color: #441215;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
            gap: 5px;

            .footerInfo {
                display: flex;
                gap: 20px;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .footerAddrres {
                    display: flex ;
                    flex-direction: row !important;
                    gap: 5px;
                    p {
                        font-size: 10px;
                        color: #D1B24A;
                    }
                }

                .footerSocial {
                    display: flex;
                    gap: 20px;
                    align-items: center;
                    justify-content: center;

                    i {
                        color: #D1B24A;
                        font-size: 20px;
                    }
                }

                .footerSocial:hover {
                    color: #E4D8AD;
                }
            }
        }
    }
}