* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* a {
  text-decoration: none !important;
}

button {
  border: none;
}

.myContainer {
  max-width: 1450px;
  width: 100%;
  margin: 0 auto;
}

.detalisCardPage {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.detalisCardPage .detalis {
  width: 40%;
  height: 700px;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3%;
  gap: 3%;
}
.detalisCardPage .detalis input {
  width: 70%;
  height: 10%;
  font-size: 1.2rem;
  padding-left: 5%;
}
.detalisCardPage .detalis p {
  font-size: 2rem;
}
.detalisCardPage .detalis button {
  width: 50%;
  height: 10%;
  border-radius: 6px;
  font-size: 0.8rem;
  font-weight: 700;
}

.formContent .postForms {
  background-color: #8a90ff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.formContent .postForms h1 {
  font-size: 2.4rem;
  color: #fff;
  padding: 5%;
}
.formContent .postForms input {
  width: 60%;
  height: 5%;
  margin-bottom: 1%;
  padding-left: 5%;
  font-size: 1.2rem;
}
.formContent .postForms button {
  width: 200px;
  height: 35px;
  border-radius: 6px;
  font-size: 1.2rem;
  font-weight: 700;
  color: #8a90ff;
}

main {
  width: 100%;
  background-color: #8a90ff;
}

#sectionOne {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #8a90ff;
}
#sectionOne .sectionOneText {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
#sectionOne .sectionOneText h1 {
  font-size: 3.3rem;
  color: white;
}
#sectionOne .sectionOneText h4 {
  color: white;
}
#sectionOne .sectionOneText button {
  background: #fff;
  color: #222 !important;
  border: 1px solid transparent;
  color: #fff;
  width: 30%;
  height: 40px;
  border-radius: 6px;
}
#sectionOne .sectionOneText button:hover {
  background-color: #8a90ff;
  color: #fff !important;
}

#sectionTwo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5%;
  background-color: #fff;
}
#sectionTwo .sectionTwoText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#sectionTwo .sectionTwoText h1 {
  font-size: 3rem;
}
#sectionTwo .sectionTwoText h4 {
  font-size: 1.6rem;
  color: rgb(119, 119, 119);
}
#sectionTwo .sectionTwoRoboImg {
  display: flex;
  align-items: center;
  justify-content: center;
}
#sectionTwo .sectionTwoRoboImg .imgSize {
  width: 18%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4%;
}
#sectionTwo .sectionTwoRoboImg .imgSize button {
  background: #fff;
  color: #222 !important;
  border: 1px solid transparent;
  color: #fff;
  width: 50%;
  height: 40px;
  font-weight: 600px;
  border-radius: 6px;
}
#sectionTwo .sectionTwoRoboImg .imgSize button:hover {
  background-color: #8a90ff;
  color: #fff !important;
}
#sectionTwo .sectionTwoRoboImg .imgSize h4 {
  color: rgb(119, 119, 119);
}

#sectionTree {
  background-image: url("https://preview.colorlib.com/theme/robotics/img/feature-bg.jpg.webp");
  padding: 5%;
}
#sectionTree .sectionTreeText h1 {
  font-size: 2.4rem;
  color: #fff;
}
#sectionTree .sectionTreeText h4 {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
#sectionTree .mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#sectionTree .mainContent button {
  width: 200px;
  height: 40px;
}
#sectionTree #card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5%;
}
#sectionTree #card .sizeClass {
  width: 20%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #8a90ff;
  margin: 1%;
  border-radius: 6px;
  gap: 10%;
}
#sectionTree #card .sizeClass p {
  font-size: 1.5rem;
  color: #fff;
}
#sectionTree #card .sizeClass a {
  color: #fff;
}
#sectionTree #card .sizeClass button {
  color: #fff;
}
#sectionTree #card .sizeClass :hover {
  background-color: #8a90ff;
  color: #fff !important;
}

#sectionFour {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10%;
}
#sectionFour .fourText h1 {
  font-size: 3rem;
}
#sectionFour .fourText h4 {
  color: rgb(119, 119, 119);
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#sectionFour .sectionFourContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4%;
}
#sectionFour .fourImg {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
#sectionFour .fourImg button {
  background-image: -webkit-linear-gradient(0deg, rgb(130, 143, 255) 0%, rgb(212, 150, 255) 100%);
}
#sectionFour .fourImg button:hover {
  background-color: #8a90ff;
  color: #fff !important;
}
#sectionFour .fourImg #one {
  width: 20%;
  height: 35px;
  color: #fff;
}
#sectionFour .fourImg #two {
  width: 25%;
  height: 35px;
  color: #fff;
}
#sectionFour .fourImg .fourInfo h1 {
  font-size: 2rem;
}
#sectionFour .fourImg .fourInfo h4 {
  color: rgb(119, 119, 119);
  font-size: 1.2rem;
  font-weight: 300;
}

@media only screen and (max-width: 768px) {
  #sectionOne {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    background-color: #8a90ff;
    height: 100vh;
    gap: 10px;
  }
  #sectionOne .sectionOneText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
  }
  #sectionOne .sectionOneText h1 {
    font-size: 3.3rem;
    color: white;
  }
  #sectionOne .sectionOneText h4 {
    color: white;
  }
  #sectionOne .sectionOneText button {
    background: #fff;
    color: #222 !important;
    border: 1px solid transparent;
    color: #fff;
    width: 30%;
    height: 40px;
    border-radius: 6px;
  }
  #sectionOne .sectionOneText :hover {
    background-color: #8a90ff;
    color: #fff !important;
  }
  #sectionTwo {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
    background-color: #fff;
  }
  #sectionTwo .sectionTwoText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #sectionTwo .sectionTwoText h1 {
    font-size: 3rem;
  }
  #sectionTwo .sectionTwoText h4 {
    font-size: 1.6rem;
    color: rgb(119, 119, 119);
  }
  #sectionTwo .sectionTwoRoboImg {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  #sectionTwo .sectionTwoRoboImg .imgSize {
    width: 40%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #sectionTwo .sectionTwoRoboImg .imgSize button {
    background: #fff;
    color: #222 !important;
    border: 1px solid transparent;
    color: #fff;
    width: 50%;
    height: 40px;
    font-weight: 600px;
    border-radius: 6px;
  }
  #sectionTwo .sectionTwoRoboImg .imgSize button:hover {
    background-color: #8a90ff;
    color: #fff !important;
  }
  #sectionTwo .sectionTwoRoboImg .imgSize h4 {
    color: rgb(119, 119, 119);
    padding: 10px;
  }
  #sectionTree {
    background-image: url("https://preview.colorlib.com/theme/robotics/img/feature-bg.jpg.webp");
    min-height: 100vh;
  }
  #sectionTree .mainContent {
    display: flex;
    flex-wrap: wrap !important;
    align-items: center;
    justify-content: center;
  }
  #sectionTree .mainContent button {
    width: 200px;
    height: 40px;
    background-color: #fff;
    color: #8a90ff;
    font-weight: 700;
    border-radius: 6px;
  }
  #sectionTree .mainContent button:hover {
    background-color: #8a90ff;
    color: #fff;
  }
  #sectionTree #card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  #sectionTree #card .sizeClass {
    width: 40%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #8a90ff;
    border-radius: 6px;
    margin: 1%;
    gap: 5%;
  }
  #sectionTree #card .sizeClass a {
    color: #fff;
  }
  #sectionTree #card .sizeClass p {
    font-size: 1.5rem;
    color: #fff;
  }
  #sectionFour {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10%;
  }
  #sectionFour .fourText h1 {
    font-size: 3rem;
  }
  #sectionFour .fourText h4 {
    color: rgb(119, 119, 119);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #sectionFour .sectionFourContent {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #sectionFour .fourImg {
    display: flex;
    flex-direction: column;
    gap: 22px;
  }
  #sectionFour .fourImg button {
    background-image: -webkit-linear-gradient(0deg, rgb(130, 143, 255) 0%, rgb(212, 150, 255) 100%);
  }
  #sectionFour .fourImg button:hover {
    background-color: #8a90ff;
    color: #fff !important;
  }
  #sectionFour .fourImg #one {
    width: 20%;
    height: 35px;
    color: #fff;
  }
  #sectionFour .fourImg #two {
    width: 25%;
    height: 35px;
    color: #fff;
  }
  #sectionFour .fourImg .fourInfo h1 {
    font-size: 2rem;
  }
  #sectionFour .fourImg .fourInfo h4 {
    color: rgb(119, 119, 119);
    font-size: 1.2rem;
    font-weight: 300;
  }
}
nav {
  background-color: #8a90ff;
}

.navContent {
  background-color: #8a90ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}
.navContent #icon {
  display: none;
}
.navContent .list {
  overflow: hidden;
  height: 0;
}
.navContent .navContent__logo {
  display: flex;
  gap: 3%;
}
.navContent .navContent__logo h1 {
  color: white;
}
.navContent .navContent__List {
  display: flex;
  gap: 2%;
  padding-right: 1%;
}
.navContent .navContent__List a {
  color: white;
  font-size: 0.8rem;
}

@media only screen and (max-width: 768px) {
  .navContent {
    background-color: #8a90ff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
  }
  .navContent #icon {
    display: block !important;
    color: white;
    font-size: 1.2rem;
  }
  .navContent .navContent__logo {
    display: flex;
    gap: 3%;
  }
  .navContent .navContent__logo h1 {
    color: white;
  }
  .navContent .navContent__List {
    display: none !important;
    display: flex;
    gap: 2%;
    padding-right: 1%;
  }
  .navContent .navContent__List a {
    color: white;
    font-size: 0.8rem;
  }
  .listOpen {
    display: block;
    background-color: #8a90ff;
    height: 300px;
    transition: 1s;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    gap: 15px;
  }
  .listOpen a {
    color: white;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-self: center;
  align-self: center;
}

input {
  width: 600px;
  height: 60px;
  padding-left: 5px;
  font-size: 22px;
}

.keyList {
  width: 700px;
  height: 100vh;
  background-color: #f6f6f6;
}
.keyList p {
  font-size: 22px;
  padding: 5px;
  border-bottom: 1px solid lightgray;
}

button {
  width: 100px;
  height: 60px;
  border: none;
  border-radius: 6px;
  color: #f6f6f6;
  font-size: 20px;
  background-color: #8a90ff;
}

button:hover {
  background-color: #8a90af;
}

#footer {
  background-image: url("https://preview.colorlib.com/theme/robotics/img/footer-bg.jpg.webp");
  height: 70vh;
}
#footer .footerContent {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#footer .footerContent h1 {
  color: #fff;
  font-size: 1.2rem;
}
#footer .footerContent .footerIcons {
  color: #fff;
}
#footer .footerContent .footerIcons i {
  font-size: 20px;
  padding: 15px;
  background-color: black;
}

@media only screen and (max-width: 768px) {
  #footer {
    background-image: url("https://preview.colorlib.com/theme/robotics/img/footer-bg.jpg.webp");
    height: 70vh;
  }
  #footer .footerContent {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  #footer .footerContent h1 {
    color: #fff;
    font-size: 1.2rem;
  }
  #footer .footerContent .footerIcons {
    color: #fff;
  }
  #footer .footerContent .footerIcons i {
    font-size: 20px;
    padding: 15px;
    background-color: black;
  }
}/*# sourceMappingURL=main.css.map */